@import "tailwindcss";

/* Required for Flowbite */
@import "flowbite/dist/flowbite.css";


:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

body, #root {
  min-width: 320px;
  min-height: 100%;
}